<div class="d-flex justify-content-center ">
  <div class="row">
    <div class="col">
      <img [src]="profilePicture" class="profile">
    </div>
    <div class="col">
      <h1>Vishwajeet Parase</h1>
      <h5>Software Developer at <img [src]="amdocsLogo" class="amdocs"></h5>
    </div>
    <div class="d-flex justify-content-center">
      <a href="https://github.com/vishwajeet17">Github</a>
      <a href="https://www.linkedin.com/in/vishwajeetparase/">Linkedin</a>
      <a href="mailto:vishwajeetparase@gmail.com">Email</a>
    </div>
    <div>
      <!-- put this all in navbar -->
      <a href="#projects">projects</a>
      <a href="#skills">skills</a>
      <a href="#experience">experience</a>
      <a href="#certifications">certifications</a>
      <a href="#resume">resume</a>
    </div>
  <div id="projects">
    Projects
  </div>
</div>
</div>